{{#each chores}}
  <div class='content'>

     <div class='container'>

        <data-id="{{chore.id}}">

        <small>ID: </small>
        {{#if this.id}}
          {{this.id}}
        {{else}}
          No ID.
        {{/if}}
<br>
          <small>Task: </small>
          {{#if this.task}}
            {{this.task}}
          {{else}}
            No task.
          {{/if}}
<br>
          <small>Due Date: </small>
          {{#if this.due_on}}
            {{this.due_on}}
          {{else}}
            No Due Date
          {{/if}}
<br>
          <small>Number of Days Remaining: </small>
          {{#if this.days_to_due_date}}
            {{this.days_to_due_date}}
          {{else}}
            0
          {{/if}}
<br>
          <small>Priority: </small>
          {{#if this.priority_alpha}}
            {{this.priority_alpha}}
          {{else}}
            No Priority
          {{/if}}
    </div>
  </div>
</div>
<br>
<hr>
{{/each}}
