{{#each chores}}
  <div class='content'>
    <div class='row'>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <data-id="{{chore.id}}">

        <small>ID: </small>
        {{#if this.id}}
          {{this.id}}
        {{else}}
          No ID.
        {{/if}}
        <BR />
          <small>Task: </small>
          {{#if this.task}}
            {{this.task}}
          {{else}}
            No task.
          {{/if}}

          <BR/>
          <small>Due Date: </small>
          {{#if this.due_on}}
            {{this.due_on}}
          {{else}}
            No Due Date
          {{/if}}

          <BR/>
          <small>Priority: </small>
          {{#if this.priority}}
            {{this.priority}}
          {{else}}
            No Priority
          {{/if}}
          <P>
          </P>
    </div>
  </div>
</div>
{{/each}}
